@use './global-colors' as *;

.contacts-div {
    background-color: $contacts-color;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    ul {
       list-style: none;
       margin: 0;
       padding: 0;
       padding-bottom: 1rem;
    }
    li{
        padding-top: 0.5rem;
    }
    a {
        color: $light-primary;
    }
    p {
        margin: 0;
        padding: 0;
    }
}