@use './include-media' as *;
@use './global-colors' as *;

#current-research-slider {
    text-decoration: none;
    color: black;
}

#current-research-slider:hover .card-title{
    color: $primary;
    text-decoration: underline;
}

#current-research-slider .card{
    border: 0.2rem solid black;
    padding: 1rem;
    
}

.slick-next:before, .slick-prev:before {
    color: black;
    opacity: 1;
}

.current-research-div {
    @include media ("<tablet") {
        padding-left: 1.5rem; 
        padding-right: 1.5rem;
    }
}
