@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex {
    @include flexbox();
}

.flex-wrap {
    @include flexbox();
    flex-wrap: wrap;
}

.flex-start {
    justify-content: flex-start;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-center {
    justify-content: center;
}

.flex-col {
    @include flexbox();
    flex-flow: column wrap;
}

.items-stretch {
    align-items: stretch;
}