$primary: #0000FA;
$light-primary: #4BD8FB;
$title-background: #e9ecef;
$border-color: rgba(0, 0, 0, .125);
$card-cap-bg: rgba(0, 0, 0, .03);
$transparent-white: rgba(255,255,255, 0.8);
$contacts-color: #39373B;