.key-text {
    vertical-align: middle;
}

.key-icon {
    vertical-align: middle;
    display: inline-block;
    
}

.key-icon svg {
    width: 1.25rem;
    height: 1.25rem;
    //border: 0.15rem solid;
}