.semantic-tagging-key-text {
    vertical-align: middle;
}

.semantic-tagging-key-icon {
    vertical-align: middle;
    display: inline-block;
    
}

.semantic-tagging-key-icon svg {
    width: 1.25rem;
    height: 1.25rem;
    //border: 0.15rem solid;
}