@use './global-colors' as *;
@use './include-media' as *;
@use './flex-styles' as *;
@use './current-research' as *;

/* import only the necessary Bootstrap files */
@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";

@import "bootstrap";

// Reference: 
// https://www.taniarascia.com/design-for-developers/#use-fewer-fonts-or-be-consistent-with-fonts

// Reference for large screen size optimization:
// https://css-tricks.com/optimizing-large-scale-displays/

$base-font-size: 1rem;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

html {
    font-size: $base-font-size;
    line-height: $base-line-height;
  
    @include media("<=desktop") {
        font-size: $base-font-size*1.2;
        line-height: $base-line-height*1.2;
    }
  
    @include media(">desktop", "<=desktop2k") {
        font-size: $base-font-size*1.5;
    }
  
    @include media(">desktop2k","<=desktop4k") {
        font-size: $base-font-size*2;
    }

    @include media(">desktop4k") {
        font-size: $base-font-size*2.2;
    }
}

h1 {
    font-size: 2.36rem;
    @include media("<phone") {
        font-size: 2.1rem;
    }
}

h2 {
    font-size: 1.77rem;
    @include media("<phone") {
        font-size: 1.6rem;
    }
}

h3, h4, h5, h6 {
    font-size: 1.3rem;
    @include media("<phone") {
        font-size: 1.2rem;
    }
}

* {
    box-sizing: border-box;
}

.lead-text-muted {
    color: $muted-text;
    font-size: 1.2rem;
    font-weight: 300;
    @include media("<phone") {
        font-size: 1.1rem;
    }
}

option {
    font-size: 1rem;
}

.extra-height-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black !important;
}


#full-width{
    max-width: 100%;

    @include media (">=tablet") {
        max-width: 100%;
        padding-left: 10%; 
        padding-right: 10%;
        
    }
}

.current-research {
    @include media ("<tablet") {
        padding-left: 1.5rem; 
        padding-right: 1.5rem;
    }
}


.alternative-color {
    margin: 0;
    background-color: $alternative-div-background;
}


blockquote {
    p::before {
        content: '\201C';
    }
    
    p::after {
        content: '\201D';
    }
}

.center-text {
    text-align: center;
}



.contacts-div {
    background-color: $contacts-color;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    ul {
       list-style: none;
       margin: 0;
       padding: 0;
       padding-bottom: 1rem;
    }
    li{
        padding-top: 0.5rem;
    }
    a {
        color: $light-primary;
    }
    p {
        margin: 0;
        padding: 0;
    }
}



.card-body {
    padding: 1rem 0rem;

    p {
        margin: 0;
    }

    h3 {
        margin: 0;
    }
}

.card-title {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}



.popover {
    width: min(276px, 65vw);
}

.cursor-pointer {
    cursor: pointer;
}

// Reference
// https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
  }

.no-margin {
    margin: 0;
}