@use './global-colors' as *;
@use './include-media' as *;
@use './flex-styles' as *;
@use './ucrel' as *;
@use './semantic-tagging' as *;
@use './current-research' as *;
@use './title' as *;

/* import only the necessary Bootstrap files */
@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";

@import "bootstrap";

// Reference: 
// https://www.taniarascia.com/design-for-developers/#use-fewer-fonts-or-be-consistent-with-fonts
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.lead-text-muted {
    color: $muted-text;
    font-size: 1.25rem;
    font-weight: 300;
}

option {
    font-size: 1rem;
}

.extra-height-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black !important;
}

//$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

@include media (">=tablet") {
    #full-width{
        max-width: 100%;
        padding-left: 10%; 
        padding-right: 10%;
    }
}

.alternative-color {
    margin: 0;
    background-color: $alternative-div-background;
}


blockquote {
    p::before {
        content: '\201C';
    }
    
    p::after {
        content: '\201D';
    }
}

.center-text {
    text-align: center;
}

.card-label-col {
    border: solid;
    border-width: $border-width;
    border-color: $border-color;
}

.contacts-div {
    background-color: $contacts-color;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    ul {
       list-style: none;
       margin: 0;
       padding: 0;
       padding-bottom: 1rem;
    }
    li{
        padding-top: 0.5rem;
    }
    a {
        color: $light-primary;
    }
    p {
        margin: 0;
        padding: 0;
    }
}

.no-top-border {
    border-top: 0;
}
.card-label-container{
    height: 100%;
    text-align: center;
}

.card-label-names {
    border-right: 0;
    background-color: $card-cap-bg;
    display: flex;
    padding: 1rem;
}

.card-label-names h4 {
    margin: auto;
}
.card-label-input-value {
    display: flex;
    padding: 1rem;
}

.card-label-input-value div {
    display: flex;
}

.card-label-input-value button {
    font-weight: bold;
}
.bold {
    font-weight: bold;
}

.card-label-input-value p {
    margin: auto;
}

.card-label-output-value {
    display: flex;
    padding: 1rem;
}

.card-label-output-value h4 {
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}

// Reference
// https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
  }

.no-margin {
    margin: 0;
}